<launch>

    <include file="$(find turtlebot_gazebo)/launch/map1_world.launch"></include>
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"></include> 
   <!-- <include file="$(find turtlebot_navigation)/launch/gmapping_demo.launch" launch-prefix="xterm -e"></include>-->
    <node pkg="sesionesPlanning" type="initial_position" name="initial_position"  launch-prefix="xterm -e" respawn="true" /> 
    <!-- <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch" launch-prefix="xterm -e"></include> -->
  

</launch>
