<launch>

 <!--    <node pkg="sesionesPlanning" type="detectObstacles" name="detectObstacles" launch-prefix="xterm -e" />
 
    <node pkg="sesionesPlanning" type="mueverobot_apunto" name="mueverobot_apunto"  launch-prefix="xterm -e" respawn="true" /> -->
    <node pkg="sesionesPlanning" type="moving_obstacles" name="moving_obstacles"  launch-prefix="xterm -e"  />
    
    <node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
    	<remap from="scan" to="scan"/>
    	<param name="max_scans" type="int" value="600" />
    	<param name="fixed_frame" type="string" value="odom" />
    </node>


    <node pkg="sesionesPlanning" type="assemble_cloud" name="assembling" launch-prefix="xterm -e" /> 

</launch>
